.slideshow {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 68vw;
  padding: 0 6px;

  @media (min-width: 768px) {
    padding: 0 24px;
    height: 33vw;
  }

  .button {
    background: none;
    border: none;
    cursor: pointer;
  }

  .img {
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    z-index: -1;

    @media (min-width: 768px) {
      border-radius: 25px;
    }
  }

  .numbering {
    display: none;
    align-self: end;
    color: white;
    font-size: 18px;

    @media (min-width: 768px) {
      display: initial;
    }
  }
}
