.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  .tag {
    display: flex;
    font-size: 10px;
    font-weight: 500;
    background-color: #ff6060;
    color: white;
    border-radius: 10px;
    height: 18px;
    min-width: 84px;
    padding: 0 1em;

    @media (min-width: 992px) {
      font-size: 14px;
      height: 25px;
      min-width: 115px;
    }
  }

  .text {
    margin: auto;
  }
}
