.home {
  .section {
    position: relative;
    display: flex;
    align-items: center;
    height: 111px;

    @media (min-width: 476px) {
      justify-content: center;
    }

    @media (min-width: 768px) {
      height: 223px;
    }
  }

  .text {
    font-size: 24px;
    font-weight: 500;
    margin: 0;
    margin-left: 4.3vw;
    color: white;

    @media (min-width: 476px) {
      margin-left: 0;
    }

    @media (min-width: 992px) {
      font-size: 48px;
    }
  }

  .span {
    display: block;

    @media (min-width: 476px) {
      display: inline;
    }
  }
}
