.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 27px;

  @media (min-width: 768px) {
    margin-bottom: 50px;
  }

  .ul {
    display: flex;
    column-gap: 26px;

    @media (min-width: 768px) {
      column-gap: 57px;
    }
  }

  .li {
    list-style: none;
  }

  .anchor {
    text-decoration: none;
    color: #ff6060;
  }
}
