.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 27px;

  @media (min-width: 768px) {
    margin-bottom: 50px;
  }

  .ul {
    display: flex;
    column-gap: 26px;
    margin: 0;

    @media (min-width: 768px) {
      column-gap: 57px;
    }
  }

  .li {
    list-style: none;
  }

  .anchor {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    color: #ff6060;

    &:hover {
      text-decoration: underline;
    }

    @media (min-width: 568px) {
      font-size: 14px;
    }

    @media (min-width: 768px) {
      font-size: 16px;
      text-transform: none;
    }

    @media (min-width: 992px) {
      font-size: 1.66vw;
    }
  }
}
