.footer {
  display: flex;
  flex-direction: column;
  background-color: black;
  justify-content: center;
  align-items: center;
  height: 210px;
  margin: 0 -100px;

  @media (min-width: 768px) {
    justify-content: end;
  }

  .logo {
    @media (min-width: 768px) {
      padding-bottom: 30px;
    }
  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    color: white;

    @media (min-width: 568px) {
      font-size: 14px;
    }

    @media (min-width: 768px) {
      font-size: 16px;
      flex-direction: row;
      gap: 5px;
    }

    @media (min-width: 992px) {
      font-size: 1.66vw;
    }
  }
}
