.banner {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;

  .img {
    object-fit: cover;
    height: 111px;
    width: 100%;
    border-radius: 10px;
    background-blend-mode: darken;

    @media (min-width: 768px) {
      height: 223px;
      border-radius: 25px;
    }
  }
}
